@{
    ViewData["Title"] = "Welcome to Nemesys";
}

<section class="section">
    <div class="section__header">
        <h5 class="section__title">@ViewData["Title"]</h5>
    </div>

    <div class="wrapper">
        <div class="alert alert-info">
            Your account is <b>not confirmed</b> yet. Please wait until <b>Administrator</b> assign your role.
            <br />
            If you believe your account has been enabled try <b>re-logging</b> into account.
        </div>
    </div>
</section>