@using Microsoft.AspNetCore.Identity
@using cis2055_nemesys.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<header>
    <nav class="navbar navbar-expand navbar-dark">
        <div class="container-fluid p-0 px-4">
            <div class="d-flex">
                <button class="navbar-toggler d-block d-lg-none p-0 pe-2" type="button" data-bs-toggle="collapse" data-bs-target=".sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle sidebar">
                    <i class="fas fa-bars-staggered"></i>
                </button>
                <a href="/" class="navbar-brand">
                    <i class="fas fa-shield-halved"></i>
                    Nemesys
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars-staggered"></i>
            </button>
            <div class="justify-content-end" id="navbarNav">
                <ul class="navbar-nav align-items-center">
                    <partial name="Components/MenuLinks" />
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <partial name="Components/Avatar" />
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>