@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="identity-wrapper">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
    <a asp-action="Index" asp-controller="Home" asp-area="">Return back home</a>
</div>
