$theme: (
  "white": #ffffff,
  "black": #000000,
  "gray": (
    50: #fafafa,
    100: #f5f5f5,
    200: #e5e5e5,
    300: #d4d4d4,
    400: #a3a3a3,
    500: #737373,
    600: #525252,
    700: #404040,
    800: #262626,
    900: #171717,
  ),
  "blue": (
    50: #eff6ff,
    100: #dbeafe,
    200: #bfdbfe,
    300: #93c5fd,
    400: #60a5fa,
    500: #3b82f6,
    600: #2563eb,
    700: #1d4ed8,
    800: #1e40af,
    900: #1e3a8a,
  ),
  "green": (
    50: #f0fdf4,
    100: #dcfce7,
    200: #bbf7d0,
    300: #86efac,
    400: #4ade80,
    500: #22c55e,
    600: #16a34a,
    700: #15803d,
    800: #166534,
    900: #14532d,
  ),
  "orange": (
    50: #fff7ed,
    100: #ffedd5,
    200: #fed7aa,
    300: #fdba74,
    400: #fb923c,
    500: #f97316,
    600: #ea580c,
    700: #c2410c,
    800: #9a3412,
    900: #7c2d12,
  ),
  "amber": (
    50: #fffbeb,
    100: #fef3c7,
    200: #fde68a,
    300: #fcd34d,
    400: #fbbf24,
    500: #f59e0b,
    600: #d97706,
    700: #b45309,
    800: #92400e,
    900: #78350f,
  ),
  "red": (
    50: #fef2f2,
    100: #fee2e2,
    200: #fecaca,
    300: #fca5a5,
    400: #f87171,
    500: #ef4444,
    600: #dc2626,
    700: #b91c1c,
    800: #991b1b,
    900: #7f1d1d,
  )
);

$reportStatusColors: (
    "report": (
        "Open": #22c55e,
        "BeingInvestigated": #60a5fa,
        "NoActionRequired": #fdba74,
        "Closed": #a3a3a3,
    )
);

$theme: map-merge($theme, $reportStatusColors);

@each $key, $colors in $theme {
  @if (type-of($colors) == "color") {
    .bg-#{$key} {
      background-color: $colors!important;
    }
    .text-#{$key} {
      color: $colors!important;
    }
  } @else {
    @each $index, $color in $colors {
      .bg-#{$key}-#{$index} {
        background-color: $color!important;
      }

      .text-#{$key}-#{$index} {
        color: $color!important;
      }
    }
  }
}

@function getColor($name, $index: null) {
  @if ($index == null) {
    @return map-get($theme, $name);
  }

  @return map-get(map-get($theme, $name), $index);
}

$themeColors: (
    "primary": getColor("blue", 600),
    "secondary": getColor("gray", 100),
    "black": getColor("black"),
    "light": getColor("gray", 400),
);

@each $key, $color in $themeColors {
    .bg-#{$key} {
        background-color: $color!important;
    }

    .text-#{$key} {
        color: $color!important;
    }
}

@function themeColor($name) {
    @return map-get($themeColors, $name);
}